// font-family: 'Open Sans', sans-serif
// font-family: 'Oswald', sans-serif

body
    display: block
    box-sizing: border-box
    margin: 0
    padding: 0
    width: 1920px

.header
    font-size: 30px
    color: rgba(0, 0, 0, 0.9 )